<div class="page-header">
  <h1><%=@user.name%></h1>
</div>

<% if @user.fine and @user.fine > 0 %>
  <h4>Please pay a fine of Rs.<%=@user.fine%> to admin.</h4><br />
<%end%>

<% if @user.books.count>0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><strong>BORROWED BOOKS</strong></th>
        <th><strong>DUE DATE</strong></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%@user.books.each do |book| %>
        <tr>
          <td><h5><%=book.title%></h5></td>
          <td><h5><%= book.expires_on %></h5></td>
          <td><h5><%= link_to 'Renew', book_renew_duration_path(book.id), method: :put, class: "btn"%></h5></td>
        </tr>
      <% end%>
    </tbody>
  </table>
<%else%>
  <h4> You have not borrowed any books. </h4>
  <br />
<%end%>
<br />

<% if @user.blocked_books.count>0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><strong>BLOCKED BOOKS</strong></th>
        <th><strong>EXPECTED DATE</strong></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%@user.blocked_books.each do |book| %>
        <tr>
          <td><h5><%=book.title%></h5></td>
          <td><h5><%= book.expires_on %></h5></td>
          <td><h5><%= link_to 'Unblock', book_unblock_path(book.id), method: :put, class: "btn"%></h5></td>
        </tr>
      <% end%>
    </tbody>
  </table>
  <br />
<%end%>
<%=link_to "Browse Books", books_path, class: 'btn'%>

<% content_for :right_side_panel do %>
  <br \><br \>
  <% if @user_admin %>
    <div class="well">
      <h4> Your Admin: </h4>
      <hr>
      <h6> <%= @user_admin.name %> </h6>
      <h6> <%= @user_admin.email.gsub('@',' AT ') %> </h6>
      <h6> Phone: <%= @user_admin.phone_number %> </h6>
      <h6> Location: <%= @user_admin.seat_number %> </h6>
    </div>
  <%end%>
<%end%>
