<div class="page-header">
  <h1>Fines</h1>
</div>

<%if @fined_users.count > 0%>
  <%@fined_users.each do |fined_user| %>
    <h4> <%= fined_user.name %> --> <%= number_to_currency(fined_user.fine, :unit => "र")%>/-</h4>
    <%= form_tag "charge_fine", class: "form-inline" do %>
      <%= hidden_field_tag(:user_id, fined_user.id) %>
      <%= number_field_tag :payment_amount, fined_user.fine.to_s, class: "input-small", placeholder: "Amount" %>
      <%= submit_tag "Accept Payment", class: "btn" %>
    <%end%>
    <hr>
  <%end%>
<%else%>
  <h4> There are no fined users at this time </h4>
<%end%>

<% content_for :right_side_panel do %>
  <br \><br \> <br \><br \>
  <div class = "well">
    <h4> My Pocket </h4>
    <hr>
    <h4> <%= number_to_currency(current_user.money, unit: "र")%> </h4>
  </div>
<%end%>
