<div class="page-header">
  <h1><%=@user.name%></h1>
</div>

<% if @user.fine and @user.fine > 0 %>
  Please pay Rs.<%=@user.fine%>.
<%end%>

<% if @user.books.count>0 %>
  You have <%=@user.books.count %> books
<%else%>
  <h4> You have not borrowed any books. </h4>
  <br />
  <%=link_to "Browse Books", books_path, class: 'btn'%>
<%end%>

<% content_for :right_side_panel do %>
  <br \><br \>
  <% if @user_admin %>
    <div class="well">
      <h4> Your Admin: </h4>
      <h5> <%= @user_admin.name %> </h5>
      <h5> <%= @user_admin.email.gsub('@',' AT ') %> </h5>
      <h5> Phone: <%= @user_admin.phone_number %> </h5>
      <h5> Location: <%= @user_admin.seat_number %> </h5>
    </div>
  <%end%>
<%end%>
