<div class="page-header">
  <h1>Books</h1>
</div>

<%= form_tag filter_category_books_path, method: :get do%>
  <%if @category_list.count == 1 %>
    <%=select_tag(:category_name, options_for_select(@category_list, @selected_category), {disabled: 'true'})%>
  <%else%>
    <%= select_tag(:category_name, options_for_select(@category_list, @selected_category), {onchange: 'this.form.submit();'})%>
  <%end%>
<%end%>

<table class="table table-hover">
  <thead>
    <tr>
      <th><strong>TITLE</strong></th>
      <th><strong>AUTHOR</strong></th>
      <th><strong>AVAILABILITY</strong></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%=book.title%></td>
        <td><%=book.author%></td>
        <% if book.user_id %>
          <td>with <%=book.user.try(:name)%> till <%= book.expires_on.strftime("%d/%m/%Y") %></td>
          <% if book.user_id != current_user.id %>
            <td><%= link_to 'Block', book_block_for_future_path(book.id), method: :put, class: "btn pull-right"%></td>
          <%end%>
        <%else%>
          <td>Available</td>
          <td><%= link_to 'Request', book_send_request_path(book.id), method: :put, class: "btn pull-right"%></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

