<div class="page-header">
  <h1>Books</h1>
</div>

<%= form_tag filter_category_books_path, method: :get do%>
  <%if @category_list.count == 1 %>
    <%=select_tag(:category_name, options_for_select(@category_list, @selected_category), {disabled: 'true'})%>
  <%else%>
    <%= select_tag(:category_name, options_for_select(@category_list, @selected_category), {onchange: 'this.form.submit();'})%>
  <%end%>
<%end%>

<% @books.each do |book| %>
  <div class="well">
    <h5><%= book.title %>
  <% if book.user_id %>
    <div class="pull-right"> <i class="icon-user"></i> <%= book.user.name %> till <%= book.expires_on %></div>
  <%end%>
    </h5>
  <h6>- <%= book.author %>. 
  <% if book.user_id %>
    <% if book.user_id != current_user.id %>
      <%= link_to 'Block', book_block_for_future_path(book.id), method: :put, class: "btn pull-right"%>
    <%end%>
  <%else%>
    <%= link_to 'Request', book_send_request_path(book.id), method: :put, class: "btn pull-right"%>
  <%end%>
  </h6>
  </div>
  <br \>
<% end %>
