<div class="page-header">
  <h1>Books</h1>
</div>

<% @books.each do |book| %>
  <div class="well">
    <h5><%= book.title %>
  <% if book.user_id %>
    <div class="pull-right">with <%= book.user.name %> till <%= book.expires_on %></div>
  <%end%>
    </h5>
  <h6>- <%= book.author %>. 
  <% if book.user_id %>
    <% if book.user_id != current_user.id %>
      <%= link_to 'Block', book_path(book.id), class: "btn pull-right"%>
    <%end%>
  <%else%>
    <%= link_to 'Request', book_send_request_path(book.id), method: :put, class: "btn pull-right"%>
  <%end%>
  </h6>
  </div>
  <br \>
<% end %>
