<div class="page-header">
  <h1>Manage Books</h1>
</div>

<h3><%= link_to 'Add New', new_book_path, class: 'btn'%></h3>


<table class='table table-hover'>
  <thead>
    <tr>
      <th><strong>TAG</strong></th>
      <th><strong>TITLE</strong></th>
      <th><strong>AUTHOR</strong></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%=book.tag%></td>
        <td><%=book.title%></td>
        <td><%=book.author%></td>
        <td><%=link_to 'View Log', book_show_issue_history_path(book.id), class: 'btn btn-small'%>
        <td><%=link_to 'Edit', edit_book_path(book.id), class: 'btn btn-small'%>
        <td><%=link_to 'Remove', book_path(book.id), method: :delete, class: 'btn btn-small'%>
      </tr>
    <% end %>
  </tbody>
</table>
